image:
  repository: ngoduykhanh/powerdns-admin
  tag: v0.2.4
  pullPolicy: IfNotPresent


env:
  TZ: UTC
  SECRET_KEY: changeme
  GUNICORN_TIMEOUT: 60
  GUNICORN_WORKERS: 2
  GUNICORN_LOGLEVEL: DEBUG


service:
  main:
    enabled: true
    type: LoadBalancer
    loadBalancerIP: "192.168.1.223"
    ports:
      http:
        port: 80


ingress:
  main:
    enabled: false


persistence:
  config:
    enabled: true
    type: pvc
    storageClass: powerdns-storage
    existingClaim: powerdns-admin-data
    accessMode: ReadWriteOnce
    size: 10Gi


#persistence:
#  data:
#    enabled: true
#    accessMode: ReadWriteOnce
#    size: 10Gi


# https://github.com/k8s-at-home/library-charts/blob/main/charts/stable/common/values.yaml
# helm inspect values k8s-at-home/powerdns-admin --version 1.2.2 > powerdns-admin-values.yaml


