{% for n in range(0, _geode.servers.replica|int) %}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: data-geode-server-{{ n }}
  namespace: {{ _geode.namespace }}
spec:
  storageClassName: {{ _geode.storage_class }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
{% endfor %}
{% for n in range(0, _geode.locators.replica|int) %}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: data-geode-locator-{{ n }}
  namespace: {{ _geode.namespace }}
spec:
  storageClassName: {{ _geode.storage_class }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
{% endfor %}
