authorityKeyIdentifier=keyid,issuer
basicConstraints=CA:FALSE
keyUsage = digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1={{ _harbor.hostname }}.{{ _harbor.domain }}
DNS.2={{ _harbor.hostname }}.{{ _harbor.domain }}
DNS.3={{ _harbor.hostname }}

