{
  "exec-opts": ["native.cgroupdriver=systemd"],
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "100m"
  },
  "storage-driver": "",
  "dns": ["192.168.0.2","127.0.0.53","8.8.8.8","8.8.4.4"],
  "insecure-registries": ["https://rk9-harbor.jtest.pivotal.io"]
}
