- name: Create Directory for Persistent Volumes for MongoDB
  file:
    path: "{{ _mongodb.storage_path }}-{{ item }}"
    state: directory
    owner: root
    group: root
    mode: 0777
  register: create_pv_dir
  with_sequence: start=0 end={{ total_pvs|int }}
- debug: msg={{ create_pv_dir }}
  when: print_debug == true


- name: Create Directory for Persistent Volumes for MongoDB Express
  file:
    path: "{{ _mongo_express.storage_path }}-{{ item }}"
    state: directory
    owner: root
    group: root
    mode: 0777
  register: create_pv_dir_express
  with_sequence: start=0 end=1
- debug: msg={{ create_pv_dir_express }}
  when: print_debug == true


- name: Apply Kernel Parameters for MongoDB
  lineinfile:
    dest: /etc/sysctl.d/sysctl-k8s.conf
    line: "{{ item }}"
    state: present
  register: apply_kernel_parameters
  with_items:
    - "{{ _mongodb.kernel_parameters }}"
  notify:
    - Reload Sysctl
- debug: msg={{ apply_kernel_parameters }}
  when: print_debug == true

