---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: influxdb
  namespace: {{ _influxdb.namespace }}
spec:
  storageClassName: {{ _influxdb.storage_class }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
