#!/usr/bin/expect -f
set timeout 5

        spawn kubectl -n cattle-system exec $(kubectl -n cattle-system get pods | grep ^rancher | head -n 1 | awk '{ print $1 }') reset-password

        expect  "^New password for default administrator*"
        send    "\r"

        expect  "^*"
        send    "{{ rancher.admin_password }}\r"

        interact

exit
