apiVersion: v1
kind: Service
metadata:
  name: {{ _rancher.service.metadata.name }}
  namespace: {{ _rancher.service.metadata.namespace }}
  annotations:
    nginx.ingress.kubernetes.io/proxy-protocol: "true"
spec:
  selector:
    app: rancher
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
    - name: https
      protocol: TCP
      port: 443
      targetPort: 443
  type: LoadBalancer
  loadBalancerIP: "{{ _rancher.lb.ip_addr }}"
#---
#apiVersion: networking.k8s.io/v1
#kind: Ingress
#metadata:
#  name: {{ _rancher.ingress.metadata.name }}
#  namespace: {{ _rancher.ingress.metadata.namespace }}
#  annotations:
#    nginx.ingress.kubernetes.io/ssl-redirect: "false"
#spec:
#  rules:
#    - host: {{ _rancher.ingress.hostname }}
#      http:
#        paths:
#          - path: /
#            pathType: Prefix
#            backend:
#              service:
#                name: rancher
#                port:
#                  name: http
#

