{% for h in groups["workers"] %}
{% for n in range(0, 1) %}
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: mongo-express-pv-{{ hostvars[h]['ansible_hostname'] }}-{{ n }}
  namespace: {{ _mongo_express.namespace }}
spec:
  capacity:
    storage: 15Gi
  # volumeMode: Filesystem
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: {{ _mongo_express.storage_class }}
  local:
    path: {{ _mongo_express.storage_path }}-{{ n }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ hostvars[h]['ansible_hostname'] }}
{% endfor %}
{% endfor %}
