{% for n in range(0, _mongodb.configsvr|int) %}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: datadir-mongodb-mongodb-sharded-configsvr-{{ n }}
  namespace: {{ _mongodb.namespace }}
spec:
  storageClassName: {{ _mongodb.storage_class }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
{% endfor %}
{% for j in range(0, _mongodb.shardsvr|int) %}
{% for z in range(0, _mongodb.sharded_shard|int) %}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: datadir-mongodb-mongodb-sharded-shard{{ j }}-data-{{ z }}
  namespace: {{ _mongodb.namespace }}
spec:
  storageClassName: {{ _mongodb.storage_class}}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
{% endfor %}
{% endfor %}
