image:
  repository: farberg/apache-hadoop
  tag: 3.3.2
  pullPolicy: IfNotPresent


hadoopVersion: 3.3.2
logLevel: INFO


antiAffinity: "soft"


hdfs:
  nameNode:
    pdbMinAvailable: 1
    resources:
      requests:
        memory: "256Mi"
        cpu: "10m"
      limits:
        memory: "2048Mi"
        cpu: "1000m"
  dataNode:
    externalHostname: hadoop.jtest.pivotal.io
    externalDataPortRangeStart: 50500
    externalHTTPPortRangeStart: 51000
    replicas: {{ _hadoop.hdfs.dn.replica }}
    pdbMinAvailable: 1
    resources:
      requests:
        memory: "256Mi"
        cpu: "10m"
      limits:
        memory: "2048Mi"
        cpu: "1000m"
  webhdfs:
    enabled: true


yarn:
  resourceManager:
    pdbMinAvailable: 1
    resources:
      requests:
        memory: "256Mi"
        cpu: "10m"
      limits:
        memory: "2048Mi"
        cpu: "2000m"
  nodeManager:
    pdbMinAvailable: 1
    replicas: {{ _hadoop.yarn.nm.replica }}
    parallelCreate: true
    resources:
      requests:
        memory: "2048Mi"
        cpu: "1000m"
      limits:
        memory: "2048Mi"
        cpu: "1000m"


persistence:
  nameNode:
    enabled: true
  dataNode:
    enabled: true


