---
- name: Intall Cert Manager
  shell: |
    helm install cert-manager jetstack/cert-manager -n cert-manager --create-namespace --set installCRDs=true \
    --version v{{ _cm.major_version }}.{{ _cm.minor_version }}.{{ _cm.patch_version }} --wait
  register: install_cert_manager
  ignore_errors: yes
  args:
    chdir: "{{ base_path }}/"
  environment:
    PATH: "/usr/local/bin:{{ ansible_env.PATH }}"
- debug: msg={{ install_cert_manager }}

