---
apiVersion: v1
kind: Service
metadata:
  name: ml-pipeline-ui-loadbalancer
  namespace: jenkins
  annotations:
    nginx.ingress.kubernetes.io/proxy-protocol: "true"
spec:
  selector:
    app: ml-pipeline-ui
  sessionAffinity: None
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 3000
  type: LoadBalancer
#---
#apiVersion: networking.k8s.io/v1
#kind: Ingress
#metadata:
#  name: ml-pipeline-ui
#  namespace: jenkins
#  annotations:
#    nginx.ingress.kubernetes.io/ssl-redirect: "false"
#spec:
#  rules:
#    - host: ml-pipeline-ui.jtest.suse.com
#      http:
#        paths:
#          - path: /
#            pathType: Prefix
#            backend:
#              service:
#                name: ml-pipeline-ui
#                port:
#                  name: http
