---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ _rabbitmq.storage_class }}
  namespace: {{ _rabbitmq.namespace }}
provisioner: kubernetes.io/no-provisioner
volumeBindingMode: WaitForFirstConsumer
