---
apiVersion: v1
kind: Service
metadata:
  name: {{ _rabbitmq.service.metadata.name }}
  namespace: {{ _rabbitmq.service.metadata.namespace }}
  annotations:
    nginx.ingress.kubernetes.io/proxy-protocol: "true"
spec:
  selector:
    app: rabbitmq-portal
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
    - name: https
      protocol: TCP
      port: 443
      targetPort: 443
  type: LoadBalancer
  loadBalancerIP: {{ _rabbitmq.lb.ip_addr }}

#---
#apiVersion: networking.k8s.io/v1
#kind: Ingress
#metadata:
#  name: {{ _rabbitmq.ingress.metadata.name }}
#  namespace: {{ _rabbitmq.ingress.metadata.namespace }}
#  annotations:
#    nginx.ingress.kubernetes.io/ssl-redirect: "true"
#spec:
#  rules:
#    - host: {{ rabbitmq.ingress.hostname }}
#      http:
#        paths:
#          - path: /
#            pathType: Prefix
#            backend:
#              service:
#                name: rabbitmq-portal
#                port:
#                  name: http


