---
apiVersion: v1
kind: Service
metadata:
  name: {{ _kafka.service.metadata.name }}
  namespace: {{ _kafka.service.metadata.namespace }}
  annotations:
    nginx.ingress.kubernetes.io/proxy-protocol: "true"
spec:
  selector:
    app: kafka-portal
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
    - name: https
      protocol: TCP
      port: 443
      targetPort: 443
  type: LoadBalancer
  loadBalancerIP: "{{ _kafka.ip.ip_addr }}"
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ _kafka.ingress.metadata.name }}
  namespace: {{ _kafka.ingress.metadata.namespace }}
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
spec:
  rules:
    - host: {{ _kafka.ingress.hostname }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: kafka-portal
                port:
                  name: http
