---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: cf-db-storage
  namespace: cf-db
provisioner: kubernetes.io/no-provisioner
volumeBindingMode: WaitForFirstConsumer
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: cf-blobstore-storage
  namespace: cf-blobstore
provisioner: kubernetes.io/no-provisioner
volumeBindingMode: WaitForFirstConsumer
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: authservice-storage
  namespace: istio-system
provisioner: kubernetes.io/no-provisioner
volumeBindingMode: WaitForFirstConsumer
