apiVersion: v1
kind: Service
metadata:
  name: {{ rook.service.metadata.name }}
  namespace: {{ rook.service.metadata.namespace }}
  annotations:
    nginx.ingress.kubernetes.io/proxy-protocol: "true"
spec:
  selector:
    app: rook-ceph-mgr                                      # cattle-system         deployment.apps/rancher                    2/3     3            2           5m16s
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
    - name: https
      protocol: TCP
      port: 443
      targetPort: 443          #   Ceph Mgr Dashboard Port
  type: LoadBalancer
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ rook.ingress.metadata.name }}
  namespace: {{ rook.ingress.metadata.namespace }}
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
spec:
  rules:
    - host: {{ rook.ingress.hostname }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: rook-ceph-mgr-dashboard               # cattle-system         service/rancher                    ClusterIP      10.107.200.10    <none>          80/TCP,443/TCP               5m16s
                port:
                  name: http   # or http
