---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ rook.ingress.metadata.name }}
  namespace: {{ rook.ingress.metadata.namespace }}
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
spec:
  rules:
    - host: {{ rook.ingress.hostname }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: rook-ceph-mgr-dashboard
                port:
                  name: http
