---
- name: Enable Your User to Start Using the Cluster
  shell: |
    rm -rf $HOME/.kube
    mkdir -p $HOME/.kube
    cp -i /etc/kubernetes/admin.conf $HOME/.kube/config
    chown $(id -u):$(id -g) $HOME/.kube/config
  register: enable_user_kube_env
  when: inventory_hostname in groups['master']
- debug: msg={{ enable_user_kube_env }}
  when: print_debug == true and inventory_hostname in groups['master']


#- name: Enable Your User to Start Using the Cluster
#  file:
#    path: "{{ item.dir }}"
#    state: "{{ item.state }}"
#  register: enable_user_kube_env
#  ignore_errors: true
#  with_items:
#    - { dir: "$HOME/.kube", state: absent }
#    - { dir: "{{ k8s.base_path }}/calico.yaml", state: absent }
#    - { dir: "$HOME/.kube", state: directory }
#    - { dir: "$HOME/.kube/config", state: absent }
#  when: inventory_hostname in groups['master']
#- debug: msg={{ enable_user_kube_env }}
#  when: print_debug == true and inventory_hostname in groups['master']
#
#
#- name: Copy Admin User Kube Environment
#  copy: src=/etc/kubernetes/admin.conf dest=$HOME/.kube/config mode=0644 owner=root group=root remote_src=yes
#  register: copy_admin_user_env
#  when: inventory_hostname in groups['master']
#- debug: msg={{ copy_admin_user_env }}
#  when: print_debug == true and inventory_hostname in groups['master']
#
#
## owner: "{{ ansible_effective_user_id }}"
## group: "{{ ansible_effective_group_id }}"
#- name: Change kubeconfig file permission
#  file:
#    path: "$HOME/.kube/config"
#    owner: root
#    group: root
#  register: change_kubeconfig_file_perm
#  when: inventory_hostname in groups['master']
#- debug: msg={{ change_kubeconfig_file_perm }}
#  when: print_debug == true and inventory_hostname in groups['master']

