---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: wildfly
  namespace: {{ _wildfly.namespace }}
spec:
  storageClassName: {{ _wildfly.storage_class }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
