#---
#apiVersion: v1
#kind: PersistentVolumeClaim
#metadata:
#  name: scylladb
#  namespace: {{ _scylladb.namespace }}
#spec:
#  storageClassName: {{ _scylladb.storage_class }}
#  accessModes:
#    - ReadWriteOnce
#  resources:
#    requests:
#      storage: 10Gi
