{% for h in groups["workers"] %}
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: katib-pv-{{ hostvars[h]['ansible_hostname'] }}
  namespace: {{ _kubeflow.namespace }}
spec:
  capacity:
    storage: 15Gi
  # volumeMode: Filesystem
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  # persistentVolumeReclaimPolicy: Recycle
  # persistentVolumeReclaimPolicy: Delete
  # storageClassName: local-storage
  storageClassName: kubeflow-storage
  local:
    path: /mnt/katib-storage
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ hostvars[h]['ansible_hostname'] }}
{% endfor %}
{% for h in groups["workers"] %}
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: authservice-pv-{{ hostvars[h]['ansible_hostname'] }}
  namespace: istio-system
spec:
  capacity:
    storage: 15Gi
  # volumeMode: Filesystem
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  # persistentVolumeReclaimPolicy: Recycle
  # persistentVolumeReclaimPolicy: Delete
  # storageClassName: authservice-storage
  storageClassName: kubeflow-storage
  local:
    path: /mnt/authservice-storage
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ hostvars[h]['ansible_hostname'] }}
{% endfor %}
