apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ kubeflow.namespace }}-storage
  namespace: {{ kubeflow.namespace }}
provisioner: kubernetes.io/no-provisioner
volumeBindingMode: WaitForFirstConsumer
