---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: kubeflow-storage
  namespace: {{ _kubeflow.namespace }}
provisioner: kubernetes.io/no-provisioner
allowVolumeExpansion: true
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: authservice-storage
  namespace: istio-system
provisioner: kubernetes.io/no-provisioner
volumeBindingMode: WaitForFirstConsumer

# allowVolumeExpansion: true
# reclaimPolicy: Retain

