---
apiVersion: v1
kind: Service
metadata:
  name: kubevirt-manager-loadbalancer
  namespace: kubevirt-manager
  annotations:
    nginx.ingress.kubernetes.io/proxy-protocol: "true"
spec:
  selector:
    app: kubevirt-manager
  ports:
    - name: http
      protocol: TCP
      port: 8080
      targetPort: 8080
  type: LoadBalancer
  loadBalancerIP: {{ kubevirt.lb_ip_addr }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: kubevirt-ingress
  namespace: kubevirt-manager
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
spec:
  rules:
    - host: {{ kubevirt.ingress.hostname }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: kubevirt-manager
                port:
                  name: http

