---
apiVersion: v1
kind: Service
metadata:
  name: kubevirt-manager-loadbalancer
  namespace: {{ _kubevirt_manager.namespace }}
  annotations:
    nginx.ingress.kubernetes.io/proxy-protocol: "true"
spec:
  selector:
    app: kubevirt-manager
  ports:
    - name: http
      protocol: TCP
      port: 8080
      targetPort: 8080
  type: LoadBalancer
  loadBalancerIP: {{ _kubevirt_manager.lb.ip_addr }}

