---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: data-spark-redis-0
  namespace: {{ _spark.namespace }}
spec:
  storageClassName: {{ _spark.storage_class }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: data-spark-trivy-0
  namespace: {{ _spark.namespace }}
spec:
  storageClassName: {{ _spark.storage_class }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: database-data-spark-database-0
  namespace: {{ _spark.namespace }}
spec:
  storageClassName: {{ _spark.storage_class }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: spark-jobservice
  namespace: {{ _spark.namespace }}
spec:
  storageClassName: {{ _spark.storage_class }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: spark-registry
  namespace: {{ _spark.namespace }}
spec:
  storageClassName: {{ _spark.storage_class }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: data-spark-postgresql-0
  namespace: {{ _spark.namespace }}
spec:
  storageClassName: {{ _spark.storage_class }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis-data-spark-redis-master-0
  namespace: {{ _spark.namespace }}
spec:
  storageClassName: {{ _spark.storage_class }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi

