- name: Copy Rabbitmq Loadbalancer Config Yaml
  template:
    src: kafdrop.yaml.j2
    dest: "{{ base_path }}/kafdrop.yaml"
  register: copy_rabbitmq_lb_config_yaml
- debug: msg={{ copy_rabbitmq_lb_config_yaml }}


- name: Create RabbitMQ Load Balancer
  shell: |
    kubectl apply -f kafdrop.yaml
  register: create_rabbitmq_lb
  args:
    chdir: "{{ base_path }}/"
- debug: msg={{ create_rabbitmq_lb }}


# kubectl patch svc rabbitmq-portal -n rabbitmq -p '{"spec": {"type": "LoadBalancer"}}'
- name: Validate if Kafdrop Container is Running
  shell: |
    kubectl -n rabbitmq get pod | grep kafdrop | awk '{print $3}' | cut -d : -f 1
  register: check_kafdrop_container
  until: check_kafdrop_container.stdout.find("Running") != -1
  retries: 100
  delay: 10
- debug: msg={{ check_kafdrop_container }}
  when: print_debug == true

