---
base_path: /root

cont_pv_dirs:
  - "mysql-ndb-storage"
  - "mysql-innodb-storage"
  - "mariadb-galera-storage"
  - "mariadb-replica-storage"
  - "repmgr-storage"
  - "patroni-storage"
  - "pgautofailover-storage"
  - "grafana-storage"
  - "powerdns-storage"
  - "awx-storage"
  - "katib-storage"
  - "authservice-storage"
  - "jenkins-storage"
  - "harbor-storage"
  - "kafka-storage"
  - "hadoop-storage"
  - "geode-storage"
  - "mongodb-storage"
  - "stratos-storage"
  - "cf-k8s-storage"
  - "cf-db-storage"
  - "cf-blobstore-storage"
  - "cf-for-k8s"


common_conf_files:
  - "/etc/containerd/config.toml"
  - "/root/.docker"
  - "/root/calico.yaml"
  - "/etc/docker"
  - "/var/lib/docker"
  - "/var/lib/kubelet"
  - "/var/lib/containerd"
  - "/var/lib/kubelet"
  - "/var/lib/containerd"
  - "/etc/kubernetes/kubelet.conf"
  - "/etc/cni/net.d/*"
  - "$HOME/.kube"
  - "/etc/sysctl.d/sysctl-k8s.conf"
  - "/etc/docker/daemon.json"
  - "/root/cluster-config.yaml"
  - "/var/lib/docker/devicemapper"
  - "/var/lib/docker/containers"
  - "/var/lib/docker/overlay2"
  - "/etc/modules-load.d/containerd.conf"
  - "/mnt/awx-storage"
  - "/mnt/cf-k8s-storage"
  - "/mnt/cf-db-storage"
  - "/mnt/cf-blobstore-storage"
  - "/root/cf-for-k8s"
  - "/etc/kubernetes/pki/ca.crt"
  - "/var/lib/rook"
  - "/root/calico.yaml"
  - "/root/rook"
  - "/root/manifests"
  - "/etc/kubernetes/manifests/kube-apiserver.yaml"
  - "/etc/kubernetes/manifests/kube-controller-manager.yaml"
  - "/etc/kubernetes/manifests/kube-scheduler.yaml"
  - "/etc/kubernetes/manifests/etcd.yaml"
  - "/var/lib/etcd"


cont_conf_files:
  - "/mnt/awx-storage"
  - "/mnt/cf-k8s-storage"
  - "/mnt/cf-db-storage"
  - "/mnt/cf-blobstore-storage"
  - "/root/cf-for-k8s"
  - "/var/lib/rook"
  - "/root/calico.yaml"
  - "/root/rook"
  - "/etc/cni/net.d/10-calico.conflist"
  - "/etc/cni/net.d/10-flannel.conflist"
  - "/etc/cni/net.d/calico-kubeconfig"
  - "/root/rook-pv-cluster.yaml"



ubt_conf_files:
  - "/etc/default/kubelet"
  - "/root/change-ubuntu-mirror.sh"
  - "/etc/apt/keyrings/kubernetes-apt-keyring.gpg"
  - "/etc/apt/sources.list.d/kubernetes.list"


rh_conf_files:
  - "/etc/kubernetes/pki/ca.crt"
  - "/usr/lib/systemd/system/kubelet.service"
  - "/etc/sysconfig/kubelet"
  - "/etc/sysctl.d/99-kubernetes-cir.conf"
  - "/etc/yum.repos.d/kubernetes.repo"
  - "/etc/yum.repos.d/docker-ce.repo"

suse_conf_files:
  - "/usr/lib/systemd/system/kubelet.service"
  - "/etc/sysconfig/kubelet"
  - "/root/zypper-refresh.sh"
  - "/root/install-kube-pkgs.sh"
  - "/etc/zypp/repos.d/SELinux-Legacy.repo"
  - "/etc/zypp/repos.d/kubernetes.repo"
  - "/etc/zypp/repos.d/conntrack.repo"
  - "/etc/zypp/repos.d/public.repo"
  - "/etc/zypp/repos.d/virt.repo"


master_ports:
  - { "port" : "22", "proto" : "tcp", "state" : "enabled", "zone" : "public" }
  - { "port" : "53", "proto" : "tcp", "state" : "enabled", "zone" : "public" }          # kube-dns
  - { "port" : "53", "proto" : "udp", "state" : "enabled", "zone" : "public" }          # kube-dns
  - { "port" : "80", "proto" : "tcp", "state" : "enabled", "zone" : "public" }
  - { "port" : "179", "proto" : "tcp", "state" : "enabled", "zone" : "public" }         # Calico CNI
  - { "port" : "443", "proto" : "tcp", "state" : "enabled", "zone" : "public" }         # Calico CNI
  - { "port" : "2376", "proto" : "tcp", "state" : "enabled", "zone" : "public" }
  - { "port" : "2379", "proto" : "tcp", "state" : "enabled", "zone" : "public" }        # Calico CNI
  - { "port" : "2380", "proto" : "tcp", "state" : "enabled", "zone" : "public" }
  - { "port" : "2381", "proto" : "tcp", "state" : "enabled", "zone" : "public" }        # Liveness of etcd
  - { "port" : "4444", "proto" : "udp", "state" : "enabled", "zone" : "public" }        # ?
  - { "port" : "4789", "proto" : "udp", "state" : "enabled", "zone" : "public" }        # Calico CNI
  - { "port" : "5432", "proto" : "tcp", "state" : "enabled", "zone" : "public" }        # Postgres ?
  - { "port" : "5473", "proto" : "tcp", "state" : "enabled", "zone" : "public" }        # Calico CNI
  - { "port" : "6080", "proto" : "tcp", "state" : "enabled", "zone" : "public" }        # cert-manager-webhook
  - { "port" : "6443", "proto" : "tcp", "state" : "enabled", "zone" : "public" }        # Calico CNI
  - { "port" : "8080", "proto" : "udp", "state" : "enabled", "zone" : "public" }        # Liveness of coredns
  - { "port" : "8081", "proto" : "udp", "state" : "enabled", "zone" : "public" }        # Readiness of postgres operator
  - { "port" : "8181", "proto" : "udp", "state" : "enabled", "zone" : "public" }        # Readness of coredns
  - { "port" : "8472", "proto" : "udp", "state" : "enabled", "zone" : "public" }
  - { "port" : "9099", "proto" : "tcp", "state" : "enabled", "zone" : "public" }
  - { "port" : "9153", "proto" : "tcp", "state" : "enabled", "zone" : "public" }        # kube-dns
  - { "port" : "9402", "proto" : "tcp", "state" : "enabled", "zone" : "public" }        # cert-manager-controller
  - { "port" : "9443", "proto" : "tcp", "state" : "enabled", "zone" : "public" }        # vmware postgres-operator
  - { "port" : "10249", "proto" : "tcp", "state" : "enabled", "zone" : "public" }       # kube-proxy
  - { "port" : "10250", "proto" : "tcp", "state" : "enabled", "zone" : "public" }
  - { "port" : "10251", "proto" : "tcp", "state" : "enabled", "zone" : "public" }
  - { "port" : "10252", "proto" : "tcp", "state" : "enabled", "zone" : "public" }
  - { "port" : "10254", "proto" : "tcp", "state" : "enabled", "zone" : "public" }
  - { "port" : "10255", "proto" : "tcp", "state" : "enabled", "zone" : "public" }
  - { "port" : "10256", "proto" : "tcp", "state" : "enabled", "zone" : "public" }       # kube-proxy
  - { "port" : "10257", "proto" : "tcp", "state" : "enabled", "zone" : "public" }       # Liveness of kube-controller-manager
  - { "port" : "10259", "proto" : "tcp", "state" : "enabled", "zone" : "public" }       # Liveness of kube-controller
  - { "port" : "10260", "proto" : "tcp", "state" : "enabled", "zone" : "public" }       # For cert-manager
  - { "port" : "10443", "proto" : "tcp", "state" : "enabled", "zone" : "public" }       # For dashboard
  - { "port" : "16443", "proto" : "tcp", "state" : "enabled", "zone" : "public" }       # For control-plane endpoint
  - { "port" : "30000-32767", "proto" : "tcp", "state" : "enabled", "zone" : "public" }
  - { "port" : "30000-32767", "proto" : "udp", "state" : "enabled", "zone" : "public" }  # Checking why it's needed to add

workers_ports:
  - { "port" : "22", "proto" : "tcp", "state" : "enabled", "zone" : "public" }
  - { "port" : "80", "proto" : "tcp", "state" : "enabled", "zone" : "public" }
  - { "port" : "53", "proto" : "tcp", "state" : "enabled", "zone" : "public" }           # kube-dns
  - { "port" : "53", "proto" : "udp", "state" : "enabled", "zone" : "public" }           # kube-dns
  - { "port" : "179", "proto" : "tcp", "state" : "enabled", "zone" : "public" }          # Calico CNI
  - { "port" : "443", "proto" : "tcp", "state" : "enabled", "zone" : "public" }          # Calico CNI
  - { "port" : "2376", "proto" : "tcp", "state" : "enabled", "zone" : "public" }
  - { "port" : "2379", "proto" : "tcp", "state" : "enabled", "zone" : "public" }         # Calico CNI
  - { "port" : "2380", "proto" : "tcp", "state" : "enabled", "zone" : "public" }
  - { "port" : "2381", "proto" : "tcp", "state" : "enabled", "zone" : "public" }         # Liveness of etcd
  - { "port" : "4444", "proto" : "udp", "state" : "enabled", "zone" : "public" }         # ?
  - { "port" : "4789", "proto" : "udp", "state" : "enabled", "zone" : "public" }         # Calico CNI
  - { "port" : "5432", "proto" : "tcp", "state" : "enabled", "zone" : "public" }         # Postgres ?
  - { "port" : "5473", "proto" : "tcp", "state" : "enabled", "zone" : "public" }         # Calico CNI
  - { "port" : "6080", "proto" : "tcp", "state" : "enabled", "zone" : "public" }         # cert-manager-webhook
  - { "port" : "6443", "proto" : "tcp", "state" : "enabled", "zone" : "public" }         # Calico CNI
  - { "port" : "8080", "proto" : "udp", "state" : "enabled", "zone" : "public" }         # Liveness of coredns
  - { "port" : "8081", "proto" : "udp", "state" : "enabled", "zone" : "public" }         # Readiness of postgres operator
  - { "port" : "8181", "proto" : "udp", "state" : "enabled", "zone" : "public" }         # Readness of coredns
  - { "port" : "8472", "proto" : "udp", "state" : "enabled", "zone" : "public" }
  - { "port" : "9153", "proto" : "tcp", "state" : "enabled", "zone" : "public" }         # kube-dns
  - { "port" : "9402", "proto" : "tcp", "state" : "enabled", "zone" : "public" }         # cert-manager-controller
  - { "port" : "9443", "proto" : "tcp", "state" : "enabled", "zone" : "public" }         # vmware postgres-operator
  - { "port" : "9099", "proto" : "tcp", "state" : "enabled", "zone" : "public" }
  - { "port" : "10249", "proto" : "tcp", "state" : "enabled", "zone" : "public" }        # kube-proxy
  - { "port" : "10250", "proto" : "tcp", "state" : "enabled", "zone" : "public" }
  - { "port" : "10254", "proto" : "tcp", "state" : "enabled", "zone" : "public" }
  - { "port" : "10255", "proto" : "tcp", "state" : "enabled", "zone" : "public" }
  - { "port" : "10256", "proto" : "tcp", "state" : "enabled", "zone" : "public" }        # kube-proxy
  - { "port" : "10257", "proto" : "tcp", "state" : "enabled", "zone" : "public" }        # Liveness of kube-controller-manager
  - { "port" : "10259", "proto" : "tcp", "state" : "enabled", "zone" : "public" }        # Liveness of kube-controller
  - { "port" : "10260", "proto" : "tcp", "state" : "enabled", "zone" : "public" }        # cert-manager-webhook
  - { "port" : "30000-32767", "proto" : "tcp", "state" : "enabled", "zone" : "public" }
  - { "port" : "30000-32767", "proto" : "udp", "state" : "enabled", "zone" : "public" }  # Checking why it's needed to add


########################################################################################################################################################
# References of Firewalld Rule for Rancher
########################################################################################################################################################
# - https://ranchermanager.docs.rancher.com/v2.5/getting-started/installation-and-upgrade/advanced-options/advanced-use-cases/open-ports-with-firewalld
# - https://medium.com/platformer-blog/kubernetes-on-centos-7-with-firewalld-e7b53c1316af


########################################################################################################################################################
# References of Calico CNI Requirements
# https://docs.tigera.io/calico/latest/getting-started/kubernetes/requirements


_metallb:
  install: true
  major_version: 0
  minor_version: 14
  patch_version: 9
  vmware:
    kind:
      ipaddrpool:
        metadata:
          name: kubefarm-ip-pool
          namespace: metallb-system
        spec:
          ips_range: 192.168.1.210-200.168.1.250
      l2advertise:
        metadata:
          name: kubefarm-l2advt
          namespace: metallb-system
  baremetal:
    kind:
      configmap:
        metadata:
          name: config
          namespace: metallb-system
        data:
          config:
            ipaddr_pools:
              name: default
              protocol: layer2
              ips_range: 192.168.1.210-192.168.1.250


_ingress:
  install: false
  major_version: 3
  minor_version: 0
  patch_version: 2
  metadata:
    name: nginx-ingress
    namespace: nginx-ingress
  hostname: "kubeflow.jtest.pivotal.io"


_helm:
  enable_repo: true
  major_version: 3
  minor_version:
  patch_version:
  build_version:


container_runtime: "containerd"   # crio or podman
print_debug: true
disable_firewall: true
config_kube_software: true
init_k8s: true
stop_services: true
upload_calico: false
install_kube_pkgs: true

