---
apiVersion: v1
kind: Secret
metadata:
  name: mariadb-galera
  namespace: mariadb
type: Opaque
data:
# base64 encoded!
  mariadb-galera-mariabackup-password:
  mariadb-password:
  mariadb-root-password:

