---
apiVersion: mysql.oracle.com/v1
kind: NdbCluster
metadata:
  name: mysql-ndb
spec:
  redundancyLevel: 3
  dataNode:
    nodeCount: 3
    pvcSpec:
      storageClassName: mysql-ndb-storage
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
         storage: 10Gi
  mysqlNode:
    nodeCount: 3
