---
apiVersion: v1
kind: Service
metadata:
  name: {{ phpmyadmin.service.metadata.name }}
  namespace: {{ phpmyadmin.service.metadata.namespace }}
spec:
  loadBalancerIP: {{ phpmyadmin.lb_ip_addr }}

