{% for h in groups["workers"] %}
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: mysql-replica-pv-{{ hostvars[h]['ansible_hostname'] }}
  namespace: mysql-replica-ndb
spec:
  capacity:
    storage: 15Gi
  # volumeMode: Filesystem
  accessModes:
  - ReadWriteOnce
  # persistentVolumeReclaimPolicy: Delete
  persistentVolumeReclaimPolicy: Retain
  storageClassName: mysql-replica-storage
  local:
    path: {{ mysql.replica.storage_path }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ hostvars[h]['ansible_hostname'] }}
{% endfor %}
