---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ _minio.storage_class }}
  namespace: {{ _minio.namespace }}
provisioner: kubernetes.io/no-provisioner
volumeBindingMode: WaitForFirstConsumer

