---
apiVersion: v1
kind: Service
metadata:
  name: minio
  namespace: {{ _minio.namespace }}
  annotations:
    nginx.ingress.kubernetes.io/proxy-protocol: "true"
spec:
  ports:
    - name: http
      protocol: TCP
      port: 8088
      targetPort: 8088
    - name: https
      protocol: TCP
      port: 8488
      targetPort: 8488
  type: LoadBalancer
  loadBalancerIP: 192.168.1.219

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ _minio.ingress.metadata.name }}
  namespace: {{ _minio.ingress.metadata.namespace }}
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
spec:
  rules:
    - host: {{ _minio.ingress.hostname }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: minio-minio-yarn-ui
                port:
                  name: http
