base_path: /root


_kustomize:
  install: true
  download_url: "https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh"
  major_version: 5
  minor_version: 4
  patch_version: 2


_harbor:
  install: true
  major_version: 1
  minor_version: 8
  patch_version: 0
  build_version:
  admin_user: "admin"
  admin_password: "changeme"
  admin_email: "rokmc756@gmail.com"
  enable_discovery_daemon: false
  clone_git: true
  nvme: true
  namespace: harbor
  storage_path: "/mnt/harbor-storage"
  storage_class: "harbor-storage"
  k8s:
    major_version: 1
    minor_version: 28
    patch_version: 0
    build_version:
  hostname: "harbor.jtest.pivotal.io"
  service:
    metadata:
      name: harbor
      # -loadbalancer
      namespace: harbor
  ingress:
    metadata:
      name: harbor-ingress
      namespace: harbor
    hostname: "harbor.jtest.pivotal.io"
  kernel_parameters:
    - "net.ipv4.neigh.default.gc_thresh1 = 0"       # For ARP Cache
    - "fs.inotify.max_user_instances=2280"
    - "fs.inotify.max_user_watches=755360"
  lb:
    install: true
    ip_addr: "192.168.1.217"
  registry:
    replica: 1      # It looks Only 1 PVC Supported
    ip_addr: ""
  portal:
    replica: 1      # Need to Check if Ingress is Working in case of more than 1
    ip_addr: ""
  core:
    replica: 1
    ip_addr: ""
  jobservice:
    replica: 1      # It looks Only 1 PVC Supported
    ip_addr: ""
  trivy:
    enabled: true
    replica: 1
    ip_addr: ""
  notary:
    enabled: true
    ip_addr: ""
  cache:
    enabled: true
    ip_addr: ""
  database:
    type: internal
    replica: 1       # For PVC  Need to check multiple database is supported
    ip_addr: ""
  redis:
    type: internal
    replica: 1       # For PVC  Need to check multiple database is supported
    ip_addr: ""


total_harbor_containers: "{{ _harbor.registry.replica|int + _harbor.portal.replica|int + _harbor.core.replica|int + _harbor.jobservice.replica|int  + _harbor.trivy.replica|int }}"


_helm:
  enable_repo: true
  major_version: 3
  minor_version:
  patch_version:
  build_version:


_nginx:
  ingress:
    install: true
    name: nginx-ingress
    class_name: harbor-ingress-class
    namespace: "nginx-ingress"
    major_version:
    minor_version:
    patch_version:
    replica: 1
    hostname: harbor
    domain: jtest.pivotal.io
    service: harbor-core
    ip_addr: "192.168.1.218"
    port: 80
  k8s_ingress:
    major_version: 3
    minor_version: 0
    patch_version: 2


_ssl:
  dir: "{{ base_path }}/harbor-certs"
  days: 3660
  country: "KR"
  state: "Seoul"
  location: "Guro"
  organization: "Pivotal"
  common_name: "jest.pivotal.io"
  email: "rokmc756@gmail.com"

