---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ pgsql.patroni.storage_class }}
  namespace: {{ pgsql.patroni.service.metadata.namespace }}
provisioner: kubernetes.io/no-provisioner
volumeBindingMode: WaitForFirstConsumer

