{% for h in groups["workers"] %}
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: patroni-pv-{{ hostvars[h]['ansible_hostname'] }}
  namespace: {{ pgsql.patroni.service.metadata.namespace }}
spec:
  capacity:
    storage: 15Gi
  # volumeMode: Filesystem
  accessModes:
  - ReadWriteOnce
  # persistentVolumeReclaimPolicy: Delete
  persistentVolumeReclaimPolicy: Retain
  storageClassName: {{ pgsql.patroni.storage_class }}
  local:
    path: {{ pgsql.patroni.storage_path }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ hostvars[h]['ansible_hostname'] }}
{% endfor %}

