---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: data-harbor-redis-0
  namespace: {{ harbor.namespace }}
spec:
  storageClassName: {{ harbor.namespace}}-storage
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: data-harbor-trivy-0
  namespace: {{ harbor.namespace }}
spec:
  storageClassName: {{ harbor.namespace}}-storage
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: database-data-harbor-database-0
  namespace: {{ harbor.namespace }}
spec:
  storageClassName: {{ harbor.namespace}}-storage
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
#---
#apiVersion: v1
#kind: PersistentVolumeClaim
#metadata:
#  name: harbor
#  namespace: {{ harbor.namespace }}
#spec:
#  storageClassName: {{ harbor.namespace}}-storage
#  accessModes:
#    - ReadWriteOnce
#  resources:
#    requests:
#      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: harbor-jobservice
  namespace: {{ harbor.namespace }}
spec:
  storageClassName: {{ harbor.namespace}}-storage
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: harbor-registry
  namespace: {{ harbor.namespace }}
spec:
  storageClassName: {{ harbor.namespace}}-storage
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
