---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: {{ _metallb.vmware.kind.ipaddrpool.metadata.name }}
  namespace: {{ _metallb.vmware.kind.ipaddrpool.metadata.namespace }}
spec:
  addresses:
  - {{ _metallb.vmware.kind.ipaddrpool.spec.ips_range }}
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: {{ _metallb.vmware.kind.l2advertise.metadata.name }}
  namespace: {{ _metallb.vmware.kind.l2advertise.metadata.namespace }}

