---
# Configure VXLAN encapsulation for all inter workload traffic
# With vxlanMode set to Always, Calico routes traffic using VXLAN for all traffic originating from a Calico enabled host,
# to all Calico networked containers and VMs within the IP pool.
apiVersion: projectcalico.org/v3
kind: IPPool
metadata:
  name: ippool-vxlan-1
spec:
  cidr: 192.167.0.0/16
  vxlanMode: Always
  natOutgoing: true
# If you use only VXLAN pools, BGP networking is not required. You can disable BGP to reduce the moving parts in your cluster by Customizing the manifests.
# Set the calico_backend setting to vxlan, and disable the BGP readiness check.
