{
  "exec-opts": ["native.cgroupdriver=systemd"],
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "100m"
  },
  "storage-driver": "overlay2",
  "dns": ["192.168.0.100","192.168.0.90","127.0.0.53","8.8.8.8","8.8.4.4","168.126.63.1"],
  "insecure-registries": ["https://harbor.{{ k8s.domain }}"]
}

