#!/usr/bin/expect -f
set timeout 10

        spawn zypper install --no-recommends kubelet kubeadm kubectl

        expect  "^Choose from above solutions by number or skip*"
        send    "2\r"

        expect  "^Choose from above solutions by number or skip*"
        send    "2\r"

        expect  "^Continue?*"
        send    "y\r"

        interact

exit
