---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafdrop
  namespace: stratos
  labels:
    app: kafdrop
spec:
  replicas: 1
  selector:
    matchLabels:
      app: stratos
  template:
    metadata:
      labels:
        app: stratos
    spec:
      containers:
      - name: kafdrop
        image: obsidiandynamics/kafdrop:latest
        ports:
        - containerPort: 9000
        env:
        - name: stratos_BROKERCONNECT
          value: "stratos:9092"
---
apiVersion: v1
kind: Service
metadata:
  name: kafdrop
  namespace: stratos
  labels:
    name: kafdrop
spec:
  ports:
  - port: 9000
    targetPort: 9000
    name: kafdrop
    protocol: TCP
  selector:
    app: stratos
  type: LoadBalancer

