---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: console-mariadb
  namespace: {{ stratos.namespace }}
spec:
  storageClassName: stratos-storage
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
