apiVersion: v1
kind: Service
metadata:
  name: stratos-console-ui-ext
  namespace: {{ _stratos.service.metadata.namespace }}
  annotations:
    nginx.ingress.kubernetes.io/proxy-protocol: "true"
spec:
  ports:
    - name: https
      protocol: TCP
      port: 443
      targetPort: 443
  type: LoadBalancer
  loadBalancerIP: {{ _stratos.lb.ip_addr }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ _stratos.ingress.metadata.name }}
  namespace: {{ _stratos.ingress.metadata.namespace }}
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
spec:
  rules:
    - host: {{ _stratos.ingress.hostname }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: stratos-portal
                port:
                  name: http

