---
apiVersion: v1
kind: Service
metadata:
  name: istio-ingressgateway
  namespace: istio-system
  annotations:
    nginx.ingress.kubernetes.io/proxy-protocol: "true"
spec:
  selector:
    app: istio-ingressgateway
    istio: ingressgateway
  sessionAffinity: None
  ports:
  - name: status-port
    nodePort: 30461
    port: 15021
    protocol: TCP
    targetPort: 15021
  - name: http2
    nodePort: 31071
    port: 80
    protocol: TCP
    targetPort: 8080
  - name: https
    nodePort: 32000
    port: 443
    protocol: TCP
    targetPort: 8443
  type: LoadBalancer
#---
#apiVersion: networking.k8s.io/v1
#kind: Ingress
#metadata:
#  name: {{ _jenkins.ingress.metadata.name }}
#  namespace: istio-system
#  annotations:
#    nginx.ingress.kubernetes.io/ssl-redirect: "false"
#spec:
#  rules:
#    - host: {{ _jenkins.ingress.hostname }}
#      http:
#        paths:
#          - path: /
#            pathType: Prefix
#            backend:
#              service:
#                name: istio-ingressgateway
#                port:
#                  name: http
#---
#apiVersion: networking.k8s.io/v1
#kind: Ingress
#metadata:
#  name: minio-ingress
#  namespace: jenkins
#  annotations:
#    nginx.ingress.kubernetes.io/ssl-redirect: "false"
#spec:
#  rules:
#    - host: minio.jtest.suse.com
#      http:
#        paths:
#          - path: /
#            pathType: Prefix
#            backend:
#              service:
#                name: minio-service
#                port:
#                  name: http
