---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jenkins
  namespace: {{ _jenkins.namespace }}
spec:
  storageClassName: {{ _jenkins.storage_class }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
