---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana
  namespace: {{ _grafana.namespace }}
spec:
  storageClassName: {{ _grafana.storage_class }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
