---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ollama-models-store-pvc
  namespace: {{ _ollama.namespace }}
spec:
  storageClassName: {{ _ollama.storage_class }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi

