---
apiVersion: v1
kind: Service
metadata:
  name: {{ _phpmyadmin.service.metadata.name }}
  namespace: {{ _phpmyadmin.service.metadata.namespace }}
spec:
  loadBalancerIP: {{ _phpmyadmin.lb_ip_addr }}

