#- name: Enable and Restart Docker
#  systemd:
#    name: docker
#    state: restarted
#    enabled: yes
#  register: docker_restarted
#  ignore_errors: true
#  until: docker_restarted is succeeded


- name: Enable and Restart Containerd
  systemd:
    name: containerd
    state: restarted
    enabled: yes
  register: containerd_restarted
  ignore_errors: true
  until: containerd_restarted is succeeded

