---
- name: Add IP Address of Load Balancer
  lineinfile:
    path: "{{ base_path }}/rook/deploy/examples/dashboard-loadbalancer.yaml"
    insertafter: "  type: LoadBalancer"
    line: "  loadBalancerIP: {{ _rook.lb.ip_addr }}"


- name: Apply Rook Load Balancer
  shell: |
    kubectl apply -f dashboard-loadbalancer.yaml
  register: apply_rook_lb
  ignore_errors: yes
  args:
    chdir: "{{ base_path }}/rook/deploy/examples/"
- debug: msg={{ apply_rook_lb }}

