{% for h in groups["workers"] %}
{% for n in range(0, total_redmine_containers|int) %}
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: redmine-pv-{{ hostvars[h]['ansible_hostname'] }}-{{ n }}
  namespace: {{ _redmine.namespace }}
spec:
  capacity:
    storage: 15Gi
  volumeMode: Filesystem
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: {{ _redmine.storage_class }}
  local:
    path: {{ _redmine.storage_path }}-{{ n }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ hostvars[h]['ansible_hostname'] }}
{% endfor %}
{% endfor %}

