---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redmine
  namespace: {{ _redmine.namespace }}
spec:
  storageClassName: {{ _redmine.storage_class }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: data-redmine-mariadb-0
  namespace: {{ _redmine.namespace }}
spec:
  storageClassName: {{ _redmine.storage_class }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: data-redmine-postgresql-0
  namespace: {{ _redmine.namespace }}
spec:
  storageClassName: {{ _redmine.storage_class }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
