authorityKeyIdentifier=keyid,issuer
basicConstraints=CA:FALSE
keyUsage = digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1={{ _elasticsearch.hostname }}
DNS.2=elastic.jtest.pivotal.io
DNS.3={{ inventory_hostname }}

