---
apiVersion: awx.ansible.com/v1beta1
kind: AWX
metadata:
  name: awx
  namespace: {{ _awx.namespace }}
spec:
  postgres_storage_class: {{ _awx.storage_class }}
  service_type: ClusterIP

  # service_type: LoadBalancer                           # NodePort or ClusterIP or LoadBalancer
  # loadbalancer_protocol: http
  # loadbalancer_ip: {{ _awx.lb.ip_addr }}
  # loadbalancer_port: 80


# ingress_type: none ( Default ) # Ingress or Route
# create_preload_data: true
# hostname: awx.jtest.suse.com
# image_pull_policy: IfNotPresent
# ingress_tls_secret: awx-jtest-suse-com-tls
# ingress_type: Ingress

# tower_create_preload_data: true
# tower_hostname: awx.jtest.suse.com
# tower_image_pull_policy: IfNotPresent
# tower_ingress_tls_secret: awx-jtest-suse-com-tls
# tower_ingress_type: Ingress

# https://github.com/ansible/awx-operator/issues/1713
# https://groups.google.com/g/awx-project/c/Hs2kHwiRvg8
# https://forum.ansible.com/t/how-to-enable-https-in-awx/2213/2
# https://computingforgeeks.com/expose-ansible-awx-service-using-nginx-ingress/

