apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-15-{{ awx.namespace }}-postgres-15-0
  namespace: {{ awx.namespace }}
  # name: postgres-13-{{ awx.namespace }}-postgres-13-0
  # name: postgres-{{ awx.namespace }}-postgres-0
  # name: {{ awx.namespace }}-postgres-0
spec:
  storageClassName: local-storage
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
