apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-15-{{ _awx.namespace }}-postgres-15-0
  namespace: {{ _awx.namespace }}
  # name: postgres-13-{{ _awx.namespace }}-postgres-13-0
  # name: postgres-{{ _awx.namespace }}-postgres-0
  # name: {{ _awx.namespace }}-postgres-0
spec:
  storageClassName: {{ _awx.storage_class }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi

