apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ _nginx.ingress.name }}
  namespace: {{ _elasticsearch.namespace }}
  annotations:
    nginx.ingress.kubernetes.io/affinity: "cookie"                      # Added for login problem into multiple kibana containers
spec:
  ingressClassName: {{ _nginx.ingress.class_name }}
  tls:
  - hosts:
    - "*.{{ _nginx.ingress.hostname }}.{{ _nginx.ingress.domain }}"
    secretName: elasticsearch-cert
  #  secretName: secret-tls
  rules:
  - host: "{{ _nginx.ingress.hostname }}.{{ _nginx.ingress.domain }}"
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ _nginx.ingress.service }}
            port:
              number: {{ _nginx.ingress.port }}

