---
apiVersion: v1
kind: Secret
metadata:
  name: elastic-certificates
  namespace: logging
type: kubernetes.io/tls
data:
  elastic-ca.crt: |
{{ elastic_ca.stdout }}
  tls.crt: |
{{ tls_crt.stdout  }}
  tls.key: |
{{ tls_key.stdout }}

