---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ _elasticsearch.storage_class }}
  namespace: {{ _elasticsearch.namespace }}
provisioner: kubernetes.io/no-provisioner
volumeBindingMode: WaitForFirstConsumer

